
<!-- 
<div class="jumbotron"> Classe pra estilo de texto
<table class="table table-hover"> table: estilização basica pra tabelas, table-hover: deixa ela hoveravel(bg cinza no hover)
<thead> thead é a tag que agrupa os elementos "header" da tabela, table head
<tr> tr define uma table row
<th>Nome</th> th é um table header de cada coluna
<tbody> define os elementos que serão o "body" da tabela
<td></td>  td é um item normal da tabela, table data
-->

<%- contentFor( 'body') %>

<div class="table-responsive-xl ">
    <h2 style='text-align: center;'>Usuários Cadastrados</h2>
    <p style='text-align: center;'>Lista de usuários Cadastrados no sistema.</p>            
    <table class="table table-hover bg-light" id="list">
        <thead style='background-color: rgb(152, 138, 238);'>
        <tr style='color: whitesmoke'>
            <th>Nome</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Idade</th>
            <th>Altura</th>
            <th>Vota?</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
              

            <% let linkRemove="/cadastro/remove/"; %>
            <% let linkUpdate="/cadastro/update/"; %>

            <% if(users.length >0){%>
                <% for(let index=0;index<users.length;index++){ %>
                    <tr data-index-row="<%= index %>">
                        
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].name %></span>
                        <input type="text" name="name"  class="hidden" value="<%= users[index].name %>">
                    </td>
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].email %></span>
                        <input type="text" name="email"  class="hidden" value="<%= users[index].email %>">
                    </td>
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].address %></span>
                        <input type="text" name="address"  class="hidden" value="<%= users[index].address %>">
                    </td>
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].age %></span>
                        <input type="text" name="age"  class="hidden" value="<%= users[index].age %>">
                        
                    </td>
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].heigth %></span>
                        <input type="text" name="heigth"  class="hidden" value="<%= users[index].heigth %>">
                        
                    </td>
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].vote %></span>
                        <input type="text" name="vote" class="hidden" value="<%= users[index].vote %>">
                        
                    </td>
                    <td data-index-row="<%=index%>" class="hidden" data-index-row="<%=index%>">
                        <input type="button" value="Atualizar" class="hidden" >
                        <!-- The HTML <input> name Attribute is used to specify a name for an <input> element. It is used to reference the form-data after submitting the form or to reference the element in a JavaScript. -->
                    </td><!-- ========================================================================== -->
                    <!-- a funcao update()  foi criada no arquivo script.js presente no diretorio public. Ela fará a modificação dos itens e envio dos dados na forma de uma string para o servidor usando como rta /cadastro/update/ -->
                    <td  data-index-row="<%= index %>">
                        <a href="#" onclick="update('<%=index%>','<%= linkUpdate %>')" class="show"><i class="fas fa-pen"></i></a>  
                    </td> 
                    
                    <!-- para passar parametros para uma rota criada basta usar o delimitador "/" entre os valores dos parametros e defini-los no arquivo de rotas usando ":" para separar cada valor, seguido de um nome que identificarar esse valor. Exemplo: /cadastro/remove/:id -->
                    <td  data-index-row="<%= index %>">
                        <!-- <a href="#" class="show" onclick="remove('<%=index %>','<%=linkRemove%>')"><i class="fas fa-trash-alt"></i></a> -->
                        <!--                       index: linha da tabela // users[index].name: string com o nome do usuário naquela posição // linkRemove="/cadastro/remove/"(rota que será tratada o post da informação)-->
                        <a href="#" class="show" onclick="remove('<%=index %>','<%=users[index].name %>','<%=linkRemove%>')"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    </tr>
                <% } //for %>
            <% }else{%>
                <tr><td colspan="7"><p class="bg-info text-white">Nenhum dado cadastrado</p></td></tr>
            <%} //If-Else %>   
        </tbody>
    </table>
    <h2 style='background-color: rgb(156, 190, 87); border-radius: 5px; color: whitesmoke; text-align: center; margin: 100px 0px 40px 0px; padding: 10px 0px 10px 0px'>Cadastrar novo usuário</h2>
    <!-- <form action="/cadastro/add" method="post"> -->
         <form name='cadastro' action='#'>
        <div class="form-group">
            <label for="_name">Nome:</label>
            <input type="text" name="_name" id="_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="_email">E-mail:</label>
            <input type="text" name="_email" id="_email" class="form-control">
        </div>
        <div class="form-group">
            <label for="_address">Endereço:</label>
            <input type="text" name="_address" id="_address" class="form-control">
        </div>
        <div class="form-group">
            <label for="_heigth">Altura:</label>
            <input type="text" name="_height" id="_height" class="form-control">
        </div>
        <div class="form-group">
            <label for="_age">Idade:</label>
            <input type="text" name="_age" id="_age" class="form-control">
        </div>
        <div class="form-group">
            <label for="_vote">Votou:</label>
            <input type="text" name="_vote" id="_vote" class="form-control">
        </div>
        <div class="form-group">
            <input type="button" onclick="add('_name','_email','_address','_height','_age', '_vote','/cadastro/add/')" value="Enviar" class="btn btn-success">
        </div>
    </form>
    
</div>